html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
  font-family: "Inter", sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  background: #fff7ed;
  height: 120px;

  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}
.nav-title {
  margin-left: 10%;
  font-weight: bolder;
  font-size: 20px;
}
.nav-routes {
  position: absolute;
  right: 0;
  margin-right: 30px;
  font-weight: bolder;
}
.nav-home {
  color: #4d4d4d;
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
}
.nav-about {
  color: #4d4d4d;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}

.nav-vans {
    color: #4d4d4d;
    text-decoration: none;
    font-size: 20px;
  }

/* HOMEEEEEE */

.home-body {
  position: absolute;
  height: 80%;
  width: 100%;
  background-size: cover;
  background-image: url(./images/home-bg.png);
}
.body-first-text {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.body-second-text {
  margin-top: 8%;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10%;
  width: 80%;
}
.body-button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 35%;
  height: 10%;
  bottom: 24%;
  border-radius: 6px;
  background: #ff8c38;
  color: #ffffff;
  font-size: 100%;
  font-weight: bolder;
  border-color: #ff8c38;
}
/* FOOTTER */
.footer-div {
  position: absolute;
  height: 10%;
  width: 100%;
  background: #252525;
  bottom: 0;
  margin-bottom: 0;
  text-align: center;
}
.footer-text {
  margin-top: 2%;
  color: #ffffff;
  font-size: 100%;
}

.about-footer-div {
  margin-bottom: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: #252525;
  text-align: center;
}
/* ABOUT */

.about-img {
  left: 0;
  right: 0;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  max-width: 100%;
  margin-bottom: 20px;
}
.about-f-text {
  text-align: center;
  left: 0;
  right: 0;
  color: #161616;
  font-weight: 1800;
  font-size: 25px;
}

.about-s-text {
  text-align: center;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  color: #000000;
  font-weight: 900;
  font-size: 15px;
}

.about-orn-container {
  margin-top: 70px;
  left: 0;
  right: 0;
  margin-left: 15%;
  margin-right: 15%;
  height: 200px;
  background: #ffcc8d;
  border-radius: 5px;
}
.about-orn-text {
  position: relative;
  top: 20%;
  left: 5%;
  width: 60%;
  font-weight: 700;
  font-size: 18px;
}

.about-orn-button {
  position: relative;
  left: 5%;
  top: 28%;
  width: 45%;
  height: 25%;
  border-radius: 6px;
  border-color: transparent;
  color: #ffffff;
  background: #161616;
  font-size: 15px;
  font-weight: 900;
}

/*** VAN PAGES ***/
.van-list-container {
    padding-inline: 28px
}

.van-list {
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}

.van-tile a {
    color: #161616;
    text-decoration: none;    
}

.van-tile img {
    max-width: 80%;
    border-radius: 5px;
}

.van-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}

.link-to-van-id{
    text-decoration: none;
}
.link-to-van-id a:visited {
    text-decoration: none;
}

/* VANS DETAIL PAGE */
.van-detail-return{
    text-decoration: none;
    color: #000000;
}
.van-detail-return a:visited {
    text-decoration: none;
    color: green;
}
/* unvisited link */
.van-detail-return a:link {
    text-decoration: none;
    color: red;
  }
  
  /* visited link */
.van-detail-return   a:visited {
    text-decoration: none;
    color: green;
  }
  
  /* mouse over link */
.van-detail-return   a:hover {
    text-decoration: none;
    color: hotpink;
  }
  
  /* selected link */
.van-detail-return   a:active {
    text-decoration: none;
    color: blue;
  }
.van-detail{
    margin-top: 4%;
    width: 35%;
    height: 35%;
    margin-left: 32%;
}
.van-detail img{
    width: 100%;
    height: auto;
}