html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
  font-family: "Inter", sans-serif;
}

.nav-bar {
  display: flex;
  align-items: center;
  background: #fff7ed;
  height: 120px;

  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}
.nav-title {
  margin-left: 10%;
  font-weight: bolder;
  font-size: 20px;
}
.nav-routes {
  position: absolute;
  right: 0;
  margin-right: 30px;
  font-weight: bolder;
}
.nav-home {
  color: #4d4d4d;
  text-decoration: none;
  margin-right: 30px;
  font-size: 20px;
}
.nav-about {
  color: #4d4d4d;
  text-decoration: none;
  font-size: 20px;
}

/* HOMEEEEEE */

.home-body {
  position: absolute;
  height: 80%;
  width: 100%;
  background-size: cover;
  background-image: url(./images/home-bg.png);
}
.body-first-text {
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.body-second-text {
  margin-top: 8%;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10%;
  width: 80%;
}
.body-button {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 35%;
  height: 10%;
  bottom: 24%;
  border-radius: 6px;
  background: #ff8c38;
  color: #ffffff;
  font-size: 100%;
  font-weight: bolder;
  border-color: #ff8c38;
}
/* FOOTTER */
.footer-div {
  position: absolute;
  height: 15%;
  width: 100%;
  background: #252525;
  bottom: 0;
  margin-bottom: 0;
  text-align: center;
}
.footer-text {
  margin-top: 5%;
  color: #ffffff;
  font-size: 100%;
}

.about-footer-div {
  margin-bottom: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: #252525;
  text-align: center;
}
/* ABOUT */

.about-img {
  left: 0;
  right: 0;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  max-width: 100%;
  margin-bottom: 20px;
}
.about-f-text {
  text-align: center;
  left: 0;
  right: 0;
  color: #161616;
  font-weight: 1800;
  font-size: 25px;
}

.about-s-text {
  text-align: center;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  color: #000000;
  font-weight: 900;
  font-size: 15px;
}

.about-orn-container {
  margin-top: 70px;
  left: 0;
  right: 0;
  margin-left: 15%;
  margin-right: 15%;
  height: 200px;
  background: #ffcc8d;
  border-radius: 5px;
}
.about-orn-text {
  position: relative;
  top: 20%;
  left: 5%;
  width: 60%;
  font-weight: 700;
  font-size: 18px;
}

.about-orn-button {
  position: relative;
  left: 5%;
  top: 28%;
  width: 45%;
  height: 25%;
  border-radius: 6px;
  border-color: transparent;
  color: #ffffff;
  background: #161616;
  font-size: 15px;
  font-weight: 900;
}
